body {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    background-color: #0C090A;

}
.contents{
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-inline-start: 20px;
    width: 180px;
    height: 700px;
    font-size: 15px;
    background-color: black;
    cursor: pointer;
    color: white;
}

    

a:link,
a:hover,
a:active,
a:visited {
    color: #F9F6EE;
    text-decoration: none;

}



.mainbar {
    display: flex;
    padding: 20px 30px;
}




h2 {
    color: #F9F6EE;
}

.playlists {
    gap: 15px;
    color: #F9F6EE;
    display: flex;
    width: 100%;
    
}
.playlists .playbox{
    border-radius: 6px;
    background-color: #101010;
    cursor:pointer;}

  .mainbar{
    padding-top: 100px;
    padding-left:220px;
    flex-direction: column;
  }


.playlists img {
    width:80%;
}

.sidebar .logo img {
    width: 150px;
    padding-top: 10px;
}