

body {
    display: flex;
   
    font-family: 'Varela Round', sans-serif;
    background-color: #282828;
    
}
.sidebar{
    width:200px;
    height: max-content;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    text-decoration:none;
    padding: 25px;
    background-color: black ;
    color: white;

}
.sidebar .logo img{
        width: 150px;
}